#root nav {
  color: #FFF;
  font-family: 'Pacifico', cursive;
  font-size: 36px;
  height: 90px;
  position: relative;
}

#root .transparent {
  background-color: #000;
  height: 100%;
  opacity: 0.5;
  position: absolute;
  width: 100%;
  z-index: -1;
}

#root .container {
  margin: 0 auto;
  width: 1024px;
}

#root .logo {
  display: block;
  padding-top: 11px;
}
